* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

.container {
  padding: 0 20.5rem;
}

/* Scroll */

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #d62929;
}

/* Navlinks */

a {
  text-decoration: none;
}
.nav-item a {
  position: relative;
  color: none;
}

.nav-item a,
.nav-item a::after,
.nav-item a::before {
  transition: all 0.4s;
}

.nav-item a:after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  background: #e31b6d;
  height: 2px;
}

.nav-item a:hover::after {
  width: 100%;
}

/* Navigation styling */
.header {
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 500ms ease;
  box-shadow: 1px 2.5px 5px 2.5px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  font-size: 1.8rem;
  padding-top: 0.5vh;
}

.nav-list {
  display: flex;
  list-style: none;
  width: 35vw;
  justify-content: space-between;
}

/* Home styling */

.home {
  width: 100%;
  height: 90vh;
  background: whitesmoke;
  background: url("images/home.png") center no-repeat;
  background-size: cover;
  /* background: black; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2.4rem;
  color: black;
  letter-spacing: 2px;
  font-weight: 100;
}

.name {
  padding-bottom: 3rem;
}

.first-para {
  padding: 3rem 0;
}

.learn {
  padding: 1.1rem 1.1rem;
  border-radius: 3.6rem;
  border: none;
  cursor: pointer;
  user-select: none;
  transition: all 150ms linear;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;
  text-transform: none;
  text-transform: capitalize;
  background: #161616;
  color: white;
  margin-top: 3rem;
  font-size: 1.4rem;
  line-height: 2.2rem;
  width: 10vw;
}

.learn:hover {
  transition: all 150ms linear;
  opacity: 0.85;
}

/* Hero section */

.hero {
  height: 90vh;
  width: 100%;
  font-size: 1.4rem;
  background: whitesmoke;
}

.intro {
  text-align: center;
  padding: 10vh 0 5vh 0;
}

.intro-two {
  text-align: center;
  padding: 10vh 0 5vh 0;
  font-size: 3.2rem;
}
.all {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  line-height: 2.8rem;
}

.students,
.leaders,
.volunteers {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
}

.more {
  text-align: center;
  padding-top: 2.5vh;
}

.iconify {
  font-size: 5rem;
  color: red;
}

.curated {
  height: 5rem;
  width: 50rem;
  padding: none;
  display: flex;
}
h1 {
  padding-top: 2.5vh;
}

.small {
  margin-top: 2.5vh;
}

/* Action section */

.actions {
  height: 100vh;
  background: white;
}

.act {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30vh;
  justify-content: space-around;
  background: rgb(36, 35, 35);
  color: white;
  font-size: 1.8rem;
  margin-top: 50vh;
}

.members {
  height: 120vh;
  background: whitesmoke;
}

.mems,
.bew {
  text-align: center;
}

.stories {
  height: 100vh;
}

/* Card styling */

.cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  width: 15vw;
  height: 30vh;
  font-size: 1.2rem;
  line-height: 2.2rem;
  margin-bottom: 3rem;
  padding: 1.6rem;
  border-radius: 1rem;
  background: whitesmoke;
  transition: all 250ms ease-in-out;
}

.card:hover {
  transform: scale(1.1);
}

.names {
  padding-bottom: 1.6rem;
}

/* Contact and footer page  */

.contact {
  height: 65vh;
  background: whitesmoke;
}

.footer {
  text-align: center;
  font-size: 1.4rem;
  height: 5vh;
  background: whitesmoke;
}
